################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/DesarrolloCsharpSQL-Grupo01/v16/Server/sqlite3
