################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/DesarrolloCsharpSQL-Grupo01/v16/Server/sqlite3
/Clase01/ProyClase01/.vs/ProyClase01/v16/Server/sqlite3
/Clase01/ProyClase01/.vs/ProyClase01/v16
/.vs/DesarrolloCsharpSQL-Grupo01/v16
/.vs

/Clase03/ProyClase03.ClassLibrary1/.vs/ProyClase03.ClassLibrary1/v16/Server/sqlite3/db.lock
/Clase04/ProyClase04/.vs/ProyClase04/v16/Server/sqlite3/db.lock
